.ad-container {
  width: fit-content;
}

.long-ad {
  height: 600px;
  width: 300px;
}


.short-ad {
  width: 600px;
  height: 314px;
}


@media (max-width:962px) {
  .short-ad {
    width: 100%;
  }

  .long-ad {
    width: 100%;
  }
}