.ad-container {
  width: fit-content;
}

.long-ad {
  min-height: 600px;
  max-width: 200px;
}

.short-ad {
  width: 400px;
  height: 200px;
}


@media (max-width : 768px) {
  .short-ad {
    width: 50vw;
  }
}