.banner {
    background-image: url('/public/assets/images/jb-bg.jpg');
    background-size: cover;
    padding: 10px;
    color: white;
}

.transparent {
    background-color: transparent;
}

.hover:hover {
    transform: scale(1.1);
}

.transparent::placeholder {
    color: white;
    font-weight: normal;
}

.active-suggestion {
    transform: scale(1.05);
}