.mid-box{
    width:50%;
    margin:auto;
    padding:10px;

    background: #fff;
    -webkit-tap-highlight-color: transparent;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
    padding: 0;
    vertical-align: baseline;
}