.my-button {
    border-radius: 8px;
    width: 120px;
    height: 75px;
    font-size: 13px;
}

.my-button:hover {
    opacity: 0.8;
}

.slider {
    height: 5px;
}


.height-slider {
    writing-mode: vertical-rl;
    width: 5px;

}

.width-slider {
    width: 97%;
}


.img-resize {
    width: 100%;
    height: 100%;
}