.job-card:hover {
    /* background-color: rgb(231, 231, 231); */
    cursor: pointer;
    transition: none;
    transform: scale(1.01);
    position: relative;
}

.my-tooltip {
    position: absolute;
    background-color: grey;
}

.link-copied {
    background-color: grey;
    position: fixed;
    bottom: 5%;
    right: 40%;
}