.job-card:hover {
    /* background-color: rgb(231, 231, 231); */
    cursor: pointer;
    transition: none;
    transform: scale(1.01);

}

.company-logo {
    width: 9vw;
    height: 12vh;

}

.job-card {
    height: 220px;
    width: 100%;
}

.description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}



@media (min-width: 1600px) {
    .description {
        -webkit-line-clamp: 10;
        line-clamp: 10;
    }

    .job-card {
        height: 25rem;
    }
}

@media (max-width: 768px) {
    .company-logo {
        width: 100%;
        height: 100%;
    }

    .job-card {
        height: 280px;
    }
}