.notification-menu {
    width: 25vw;
    color: black;
    height: 50vh;
    background-color: white;
    display: block;
    position: absolute;
    top: 100%;
    right: 30%;
    padding: 8px 20px;
    z-index: 1000;
    border-radius: 0 0 14px 14px;
    overflow-y: auto;
}

.rejected-notification-message {
    height: 0;
    opacity: 0;
}



.rejected-notification:hover .rejected-notification-message {
    height: fit-content;
    opacity: 1;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
}