.job-card:hover {
    /* background-color: rgb(231, 231, 231); */
    cursor: pointer;
    transition: none;
    transform: scale(1.004);

}

.mobile-card {
    margin-top: .5rem;
    font-size: x-small;
}

.company-logo {
    max-width: 100%;
    height: 75px;

}

.job-title {
    font-size: x-large;
}


.job-card {
    min-height: 220px;
    width: 100%;
    padding: .5rem;
}

.description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}


@media (max-width:992px) {
    .mobile-card {
        position: absolute;
        top: .7rem;
        right: .5rem;
        margin: 0;
        z-index: 20;
    }

    .job-details-not-showing {
        display: none;
    }

    .job-title {
        font-size: medium;
    }


    .job-details {
        padding: .2rem;
        border: 1px solid #8a898873;
        border-radius: 5px;
        align-self: flex-end;
        z-index: 100;
        background-color: white;
    }



    .job-card {
        min-height: 18rem;
        width: 100%;
        position: relative;
        font-size: small;
    }
}


@media (min-width:1921px) {
    .description {
        -webkit-line-clamp: 8;
        line-clamp: 8;
    }

    .mobile-card {
        font-size: small;
    }

    .company-logo {
        width: 100%;
        height: 8rem;
    }

    .job-card {
        min-height: 20rem;
    }
}