body {
    font-family: "poppins-regular" !important;
}

.my-table {
    overflow-x: auto;
    border-collapse: collapse;
}

.my-table td {
    padding: 12px 10px;
}


.logo {
    width: 170%;
}

.responsive-font,
.responsive-font * {
    font-size: small;
}

body::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.hide-scrollbar::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.btn-responsive {
    padding: 2px;
    font-size: small !important;
}


@media (min-width:960px) {
    .logo {
        width: 100%;
    }

    .btn-responsive {
        font-size: medium !important;
    }


    .responsive-font,
    .responsive-font * {
        font-size: inherit;
    }
}